html, body {
    background: black;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100vw !important;
    height: 100vh !important;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background: black;
}

.tiktok {
    position: relative;
    width: 37px;
    height: 200px;
    background: white !important;
    box-shadow: 10px 10px 0 0 #fe2d52;
    filter: drop-shadow(-10px -10px 0 #24f6f0) brightness(1.5);
}

.tiktok::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    right: 1px;
    bottom: -86px;
    border-radius: 50%;
    border: 37px solid white !important;
    border-top: 37px solid transparent;
    transform: rotate(45deg);
    filter: drop-shadow(14px 0 0 #fe2d52);
}

.tiktok::after {
    content: '';
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    border: 30px solid transparent;
    border-bottom: 30px solid white !important;
    top: -100px;
    left: 6px;
    transform: rotate(45deg);
    filter: drop-shadow(14px 0 0 #fe2d52);
}

.youtube {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50% / 21%;
    background-image: linear-gradient(to top right, red, #C83D47);
}

.youtube::before {
    content: '';
    position: absolute;
    width: 109%;
    height: 69%;
    border-radius: 10% / 60%;
    background-image: linear-gradient(to top right, red, #C83D47);
}

.youtube::after {
    content: '';
    position: absolute;
    width: 90%;
    height: 90%;
    border-radius: 60px;
    background-image: linear-gradient(to right, red, #C83D47bb);
    transform: rotate(45deg) skew(5deg, -10deg) scale(1.008);
}

.play {
    position: relative;
    color: red;
    background: white;
    z-index: 1;
    width: 215px;
    height: 160px;
    border-radius: 50%/10%;
    transform: scale(.5);
}

.play::before {
    content: '';
    position: absolute;
    width: 110%;
    height: 80%;
    top: 10%;
    left: -5%;
    background: inherit;
    border-radius: 5% / 50%;
}

.play::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 30%;
    left: 36%;
    border: 30px solid transparent;
    border-left: 73px solid #C83D47;
}

.brainstore {
    position: relative;
}

.baseCloud {
    position: relative;
    width: 200px;
    height: 130px;
    background: #FF0527;
    filter: drop-shadow(-25px 0 0 #B71329) drop-shadow(0 -5px 0 black) drop-shadow(0 5px 0 black) drop-shadow(5px 0 0 black) drop-shadow(-5px 0 0 black);
}

.baseCloud::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: -30%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #FF0527;
}

.baseCloud::after {
    content: '';
    position: absolute;
    left: -30%;
    bottom: 0;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background: #FF0527;
}

.cloud::before {
    content: '';
    position: absolute;
    top: -20%;
    left: -5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #FF0527;
}

.cloud::after {
    content: '';
    position: absolute;
    top: -50%;
    right: -5px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #FF0527;
}

.thunder::before {
    content: '';
    position: absolute;
    top: 30px;
    left: 40px;
    width: 150px;
    height: 250px;
    z-index: 2;
    background: #FF9F00;
    clip-path: polygon(0 0, 80px 0, 65px 120px, 138px 120px, 65px 235px, 65px 145px, 0px 145px);
    transform: skewX(-15deg);
}

.thunder::after {
    content: '';
    position: absolute;
    top: 30px;
    left: 40px;
    width: 170px;
    height: 260px;
    z-index: 1;
    background: black;
    clip-path: polygon(0 0, 94px 0, 79px 120px, 156px 120px, 65px 264px, 65px 159px, 0px 159px);
    transform: skewX(-15deg) translate(-7px, -7px);
}
